<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
</head>
<body>
<div class="crazy-bg">
    <!-- Floating Emojis -->
    <div class="emoji-layer">
        <span>😊</span><span>😢</span><span>🥳</span><span>😡</span><span>😂</span>
        <span>😍</span><span>🤔</span><span>😎</span><span>😭</span><span>😴</span>
        <span>🤯</span><span>😇</span><span>🤡</span><span>💀</span><span>🫨</span>
    </div>

    <!-- Sparkle Particles -->
    <div class="sparkle-layer">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
    </div>
</div>

<div class ='container'>
    <div class="container-lg">
        <h1>Sentiment Analysis</h1>
        <form method="POST" class="form">
            <input type="text" name="inp" placeholder="Enter your Feelings!" id="input">
            <input type="submit" name="submit" id="btn" class="btn btn-pr">

        </form>
        <h1 class="output">{{message}}</h1>
    </div>

</div>
</body>
</html>